* {
    --color-brownstar : #671911;
    --color-redstar : #ffe595;
    --color-whitestar : #ffffff;
    --color-neutronstar : #69cffb;
    --color-rockyplanet : #446286;
    --color-gasplanet : #c2a279;
}

.space {
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation: orbit 1800s linear infinite;
    z-index: -10;
}

.space > * {
    border: none;
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

span {
    opacity: 0.4;
    transform: scale(0.4);
    animation: shine 0s linear infinite;
    animation-delay: 0;
    transition: all ease-in-out 4s;
}