* {
    --color-brownstar: #671911;
    --color-redstar: #ffe595;
    --color-whitestar: #ffffff;
    --color-neutronstar: #69cffb;
    --color-rockyplanet: #446286;
    --color-gasplanet: #c2a279;
}

.space {
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation: orbit 1800s linear infinite;
    z-index: -10;
}

.space > * {
    border: none;
    position: absolute;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

star {
    will-change: top, left, transform;
    opacity: 0.4;
    transform: scale(0.4);
    display: inline-block;
    animation-fill-mode: forwards;
    transition-property: top, left, height;
    transition-timing-function: ease-in-out;
    transition-duration: var(--transition-duration, 4s);

    animation-name: shine;
    animation-duration: var(--animation-duration, 4s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    background-color: var(--star-color, white);
    height: var(--star-height, 1px);
    top: var(--star-top, 0%);
    left: var(--star-left, 0%);
}

.bigbang {
    top: 50% !important;
    left: 50% !important;
}


.explosion.active {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1px;
  height: 1px;
  opacity: 1;
  animation: explode 20s linear;
  opacity: 0;

}