section {
    font-size: var(--font-size-s);
    height: 70px;
}

.logo {
    position: absolute;
    left: 150px;
}

.logo mat-icon {
  color: var(--color-font-gray);
  width: 70px;
  height: auto;
}


nav {
    background-color: color-mix(in oklab, white 10%, transparent);
    padding: 4px;
    border-radius: 50px;
}

nav a {
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--color-font-gray);
}

.selected {
  background-color: color-mix(in oklab, white 20%, transparent);
  color: var(--color-font-white);
  font-weight: 600;
  box-shadow: 0 0 .2rem var(--color-font-white),
              0 0 2rem var(--color-primary),
              0 0 0.8rem var(--color-secondary),
              0 0 2.8rem var(--color-tertiary),
              inset 0 0 1.3rem var(--color-quaternary);

  
}

.social{
    position: absolute;
    right: 150px;
    gap: 5px;
}


.manipulate {
  position:absolute;
  left: 50px;
  top: 75px;
  color: var(--color-font-white);
  gap: 10px;
}