<section class="glass smoke flex-row">

  <div class="logo ray infinite">
    <mat-icon svgIcon="logo"></mat-icon>
  </div>

  <nav class="glass flex-row">
    <a [routerLink]="['/']" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">home</a>
    <a [routerLink]="['/game']" routerLinkActive="selected">game</a>
    <a [routerLink]="['/more']" routerLinkActive="selected">more</a>
  </nav>

  <div class="social flex-row">
      <a href="#" class="ray"><mat-icon svgIcon="github"></mat-icon></a>
      <a href="#" class="ray"><mat-icon svgIcon="mail"></mat-icon></a>
      <a href="#" class="ray"><mat-icon svgIcon="linkedin"></mat-icon></a>
      <a href="#" class="ray"><mat-icon svgIcon="instagram"></mat-icon></a>
  </div>

  <div class="manipulate flex-column left">
    <button (click)="BigBang()" class="seek"><mat-icon svgIcon="pie" class="scale"></mat-icon><span class="hide">make an apple pie from scratch</span></button>
    <button (click)="Rewrite()" class="seek"><mat-icon svgIcon="star" class="scale"></mat-icon><span class="hide">rearrange the heavens</span></button>
  </div>
</section>