section {
    font-size: var(--font-size-s);
    height: 100px;
}

nav {
    background-color: color-mix(in oklab, white 10%, transparent);
    padding: 4px;
    border-radius: 50px;
}

nav a {
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--color-font-gray);
}

.selected {
  background-color: color-mix(in oklab, white 20%, transparent);
  color: var(--color-font-white);
  font-weight: 600;
  box-shadow: 0 0 .2rem var(--color-font-white),
              0 0 2rem var(--color-primary),
              0 0 0.8rem var(--color-secondary),
              0 0 2.8rem var(--color-tertiary),
              inset 0 0 1.3rem var(--color-quaternary);

  
}

.logo {
  width: 150px;     /* opcional, caso queira forçar o tamanho */
  height: 150px;
  color: var(--color-secondary);
  text-shadow:
    0 0 4px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 12px var(--color-tertiary);
  filter: drop-shadow(0 0 6px var(--color-secondary));
}

.logo:hover {
  color: var(--color-primary);
  filter: drop-shadow(0 0 8px var(--color-secondary)) brightness(1.2);
}

@keyframes pulse {
  0%, 100% {
    filter: drop-shadow(0 0 4px var(--color-tertiary));
  }
  50% {
    filter: drop-shadow(0 0 10px var(--color-secondary));
  }
}

.logo.glow {
  animation: pulse 2s infinite ease-in-out;
  color: var(--color-secondary);
}