<div class="presentation">
    <div class="welcome">
        <h1>
            <span appRevealOnScroll direction="down">Hi, I'm</span>
            <span appRevealOnScroll direction="right">Rennan Carvalho</span>
        </h1>
        <h2>
            <p>Full stack web developer</p>
            <p>Full stack web developer</p>
            <p>Full stack web developer</p>
            <p>Full stack web developer</p>
        </h2>
    </div>
    <!-- <div>
        <span><img src="/home/rennan.jpg" /></span>
    </div> -->
</div>