.divisor {
    box-sizing: border-box;
    background: linear-gradient(1deg,rgba(32, 24, 43, 0.85) 40%, rgba(48, 36, 94, 0.5) 100%);
    width: 100vw;
    height: 150px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.reverse {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: linear-gradient(180deg,rgba(32, 24, 43, 0.85) 40%, rgba(48, 36, 94, 0.5) 100%);
    margin-bottom: 0;
    margin-top: -1px;
}