/* Space */
@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  50% {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes explode {
  0% {
    opacity: 0;
  }
  30% {
    box-shadow: 0 0 25px 25px rgb(255, 120, 50);
    opacity: 0.8;
  }
  50% {
    box-shadow: 0 0 10px 10px rgb(122, 122, 122);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0 0 1500px 1500px rgb(4, 163, 211);
    opacity: 0;
  }
}



/* Transitions */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }

  10%, 90% {
    opacity: 0.4;
  }
}


@keyframes ray-cast {
  from { transform: translate(-100%, -100%); }
  to { transform: translate(100%, 100%); }
}


@keyframes cooldown {
  0% {
    background: red;
    width: 0px;
    opacity: 1;
  }

  50% { background: orange; }

  100% {
    background: green;
    width: 24px;
    opacity: 1;
  }
}

@keyframes cycle {
  0% { opacity: 0; transform: translateY(100%); }
  5% { opacity: 1; transform: translateY(0); }
  20% { opacity: 1; transform: translateY(0); }
  25% { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 0; }
}