:root {
    /* Main Palette */
    --color-primary: #2b1d5a;
    --color-secondary: #a296ca;
    --color-tertiary: #282b75;
    --color-quaternary: #1d161e;

    /* Font Palette */
    --color-font-white: #fafafa;
    --color-font-gray: #ababab;

    /* Deep Space */
    --color-ds-1: #0d0e3f;
    --color-ds-2: #2b1d5a;
    --color-ds-3: #1d161e;
    --color-ds-4: #000014;

  /* Fundo base */
  --color-ds-1: #0d0e3f; /* azul escuro */
  --color-ds-2: #2b1d5a; /* roxo profundo */
  --color-ds-3: #1d161e; /* preto arroxeado */
  --color-ds-4: #000014; /* preto absoluto */

  /* Nebulosas (tons suaves, desaturados) */
  --color-nebula-1: #3d2b70; /* roxo esfumaçado */
  --color-nebula-2: #264d73; /* azul petróleo */


    /* Size */
    --font-size-s: 1.0rem;
    --font-size-m: 1.4rem;
    --font-size-l: 1.8rem;

    --max-width-s: 20rem;
    --max-width-m: 40rem;
    --max-width-l: 80rem;

    --border-radius-s: 1rem;
    --border-radius-m: 3rem;
    --border-radius-l: 9rem;



    /* Misc */
    --section-padding: 50px 400px;
    --section-height: 500px;
    --section-color-even: var(--color-primary);
    --section-color-odd: var(--color-tertiary);


    scroll-behavior: smooth;
    overflow-y: scroll;
    
}


@font-face {
    font-family: 'Space Grotesk';
    src: url('assets/fonts/SpaceGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Space Grotesk', 'Roboto', 'Helvetica Neue', 'sans-serif';
    background: radial-gradient(circle at 50% -20%,
            var(--color-ds-1) 20%,
            var(--color-ds-2) 45%,
            var(--color-ds-3) 70%,
            var(--color-ds-4) 100%);
background: radial-gradient(
    circle at 50% 150%,
    var(--color-ds-1) 20%,
    var(--color-nebula-1) 45%,
    var(--color-ds-2) 65%,
    var(--color-ds-3) 80%,
    var(--color-ds-4) 100%
);
    background-attachment: fixed;
    box-sizing: border-box;
    transition: opacity 2s ease-in-out;
}

button {
    cursor: pointer;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: calc(var(--font-size-l) * 1.4);
    font-weight: bold;
    line-height: 1.4;
}

h2 {
    font-size: calc(var(--font-size-l) * 1);
    line-height: 1;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex-row.start,
.flex-column.start {
    align-items: start;

}

.flex-row.evenly,
.flex-column.evenly {
    justify-content: space-evenly;
}

.flex-row.between,
.flex-column.between {
    justify-content: space-between;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

button {
    display: inline-flex;
    align-items: end;
    gap: 0.4em;
    padding: 0.3em 0.6em;
}