
/* Text */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}


/* Space */
@keyframes orbit {
    100% { transform: rotate(360deg);    }
}

@keyframes shine {
    50% { opacity: 1; transform: scale(1); }
}

/* Transitions */
@keyframes fadeInOut {
  0%   { opacity: 1; }
  10%  { opacity: 0.4; }
  90%  { opacity: 0.4; }
  100% { opacity: 1; }
}