/* Space */
@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  50% {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes explode {
  0% {
    box-shadow: 0 0 100px 100px rgb(90, 190, 185, 0.1);
    opacity: 0.1;
  }
  50% {
    box-shadow: 0 0 10px 10px rgb(90, 190, 185);
    opacity: 0.5;
  }
  100% {
    box-shadow: 0 0 1500px 1500px rgb(90, 190, 185);

  }
}

/* Transitions */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }

  10%, 90% {
    opacity: 0.4;
  }
}


@keyframes ray-cast {
  from { transform: translate(-100%, -100%); }
  to { transform: translate(100%, 100%); }
}


@keyframes cooldown {
  0% {
    background: darkred;
    width: 0px;
    opacity: 1;
  }

  50% { background: orange; }

  100% {
    background: green;
    width: 24px;
    opacity: 1;
  }
}