
/* Text */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}


/* Space */
@keyframes orbit {
    100% { transform: rotate(360deg);    }
}

@keyframes shine {
    50% { opacity: 1; transform: scale(1); }
}

/* Waves */
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}