/* Space */
@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  50% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes explode {
  0%   {}
  25%  {}
  50%  {}
  75%  {}
  100% {}
}

/* Transitions */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }

  10%, 90% {
    opacity: 0.4;
  }
}


@keyframes ray-cast {
  0% {
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}