<div class="skills">
    <h1 appRevealOnScroll direction="zoom">skills</h1>
    <p appRevealOnScroll>algumacoisa</p>
    <div class="teste" appRevealOnScroll>asdfasdf</div>
    <p appRevealOnScroll direction="zoom">algumacoisa</p>
    <p appRevealOnScroll direction="zoom">algumacoisa</p>
    <p appRevealOnScroll direction="zoom">algumacoisa</p>
    <p appRevealOnScroll direction="zoom">algumacoisa</p>
    <p appRevealOnScroll direction="zoom">algumacoisa</p>
    <p appRevealOnScroll direction="up">algumacoisa</p>
    <p appRevealOnScroll direction="up">algumacoisa</p>
    <p appRevealOnScroll direction="down">algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p appRevealOnScroll direction="down">algumacoisa</p>
    
</div>