<div class="skills">
    <h1 class="reveal" appRevealOnScroll direction="left">skills</h1>
    <p class="reveal" appRevealOnScroll direction="right">algumacoisa</p>
    <p class="reveal" appRevealOnScroll direction="down">algumacoisa</p>
    <p class="reveal" appRevealOnScroll direction="up">algumacoisa</p>
    <p class="reveal" appRevealOnScroll direction="left">algumacoisa</p>
    <p class="reveal" appRevealOnScroll direction="left">algumacoisa</p>
    <p class="reveal" appRevealOnScroll direction="left">algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    <p>algumacoisa</p>
    
</div>